.hero {
    position: relative;
    height: 74vh;
    background-image: url(../images/hero-desktop.jpg);
    background-size: cover;
    background-position: center center;
    transition: height 0.3s ease-in-out;
    margin-top: 8rem;

    @include respond(tablet-screen) {
        height: 100vh;
        background-image: url(../images/hero-tablet.jpg);
    }

    @include respond(small-mobile-screen) {
        height: 85vh;
        background-image: url(../images/hero-mobile.jpg);
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $color-white;
        font-size: 4.8rem;
        font-weight: 800;
        text-align: center;
        width: 100%;
        max-width: 32%;

        @include respond(tablet-screen) {
            max-width: 80%;
        }

        @include respond(small-mobile-screen) {
            max-width: 90%;
        }
    }

    &__btn {
        position: absolute;
        bottom: 5rem;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.5 ease-in-out;

        @include respond(tablet-screen) {
            bottom: 14.5rem;
        }

        @include respond(small-mobile-screen) {
            bottom: 4rem;
        }
    }
}

.benefits {
    display: flex;
    justify-content: center;
    margin: 4rem 0;
    &__cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        column-gap: 2.5rem;
        row-gap: 2rem;

        @include respond(desktop-screen) {
            max-width: 95rem;
            padding: 0 3rem;
        }

        @include respond(tablet-screen) {
            padding: 0 1.5rem;
        }

        @include respond(small-mobile-screen) {
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        }
    }
}

.subscribe {
    background-color: $color-primary;
    text-align: center;
    padding: 3.8rem 0;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;

    &__info-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        max-width: 57rem;
        column-gap: 9.2rem;

        @include respond(large-mobile-screen) {
            grid-template-columns: 1fr min-content;
            grid-template-rows: repeat(3, 1fr);
            max-width: 100%;
            width: 100%;
            padding: 0 1.3rem;
            column-gap: 0;
        }
    }

    &__info-box {
        align-self: top;

        @include respond(large-mobile-screen) {
            align-self: center;
            display: flex;
            justify-content: start;
            width: fit-content;
            grid-column: 1 / 2;

            img {
                margin-right: 2.3rem;
            }
        }
    }

    &__title {
        grid-column: 1 / -1;
        grid-row: 1 / 2;

        @include respond(large-mobile-screen) {
            align-self: center;
            grid-column: 2 / 3;
            grid-row: 1 / -1;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
        }
    }

    &__text {
        @include respond(large-mobile-screen) {
            font-size: 1.4rem;
        }

        span {
            display: block;

            @include respond(large-mobile-screen) {
                display: inline-block;
                font-size: 1.4rem;
            }
        }
    }
}

.performance {
    margin-bottom: 4rem;
    padding: 0 1.5rem;

    &__title {
        padding: 4rem 0;

        @include respond(laptop-screen) {
            width: 60%;
            margin: 0 auto;
        }

        @include respond(large-mobile-screen) {
            width: 100%;
            margin: 0 auto;
        }
    }

    &__info-wrapper {
        display: grid;
        margin: 0 auto;
        max-width: 95rem;
        grid-template-columns: repeat(3, 1fr);

        column-gap: 9.5rem;
        row-gap: 4.4rem;

        @include respond(tablet-screen) {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 3.4rem;
            max-width: 50rem;
            row-gap: 4rem;
        }

        @include respond(medium-mobile-screen) {
            grid-template-columns: 1fr;
            column-gap: 3.4rem;
            row-gap: 4rem;
        }
    }

    &__info-box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.1rem;

        img {
            transition: all 0.3 ease-in-out;
        }

        @include respond(medium-mobile-screen) {
            justify-content: flex-start;
        }

        @include respond(small-mobile-screen) {
            display: grid;
            grid-template-columns: min-content 1fr;

            img {
                width: 1.9rem;
                height: auto;
            }
        }
    }
}

.certified {
    background-color: $color-secondary-light;
    padding: 2.5rem 0;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        @include respond(small-mobile-screen) {
            flex-direction: column;
        }
    }

    &__logo {
        width: 10.8rem;
        height: auto;
        margin-right: 4.5rem;

        @include respond(small-mobile-screen) {
            margin-right: 0;
            margin-bottom: 3rem;
            width: 13.3rem;
        }
    }

    &__text {
        width: 40%;
        @include respond(small-mobile-screen) {
            width: 100%;
            text-align: center;
        }
    }
}

.products {
    background-color: $color-secondary;
}

.process {
    padding: 0 3rem;
    &__title {
        padding-top: 5rem;
        padding-bottom: 6.5rem;
        text-align: center;
    }
    &__content {
        margin: 0 auto;
        max-width: 95rem;
        display: grid;
        grid-template-columns: 1fr min-content 1fr;
        grid-template-rows: repeat(4, 1fr);
        @include respond(large-mobile-screen) {
            row-gap: 2rem;
        }
    }

    &__icon {
        display: none;
        @include respond(large-mobile-screen) {
            display: inline-block;
        }

        &--arrow {
            position: absolute;
            left: 50%;
            top: -2rem;
            transform: translateX(-50%);
            display: none;

            @include respond(large-mobile-screen) {
                display: inline-block;
            }
        }
    }

    &__main-image {
        display: block;
        @include respond(large-mobile-screen) {
            display: none;
        }
    }

    &__grid-item {
        position: relative;
        @include respond(large-mobile-screen) {
            padding-bottom: 2rem;
        }
        &--1,
        &--3 {
            padding-right: 2rem;
        }

        &--2,
        &--4 {
            padding-left: 2rem;
        }

        &--1 {
            grid-column: 1 / 2;
            text-align: right;
            @include respond(large-mobile-screen) {
                text-align: left;
                grid-column: 1 / -1;
            }
        }
        &--2 {
            grid-column: 3 / 4;
            grid-row: 2 / 3;

            @include respond(large-mobile-screen) {
                grid-column: 1 / -1;
                text-align: right;
                margin-right: 0;
                margin-left: auto;
            }
        }
        &--3 {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            text-align: right;

            @include respond(large-mobile-screen) {
                grid-column: 1 / -1;
                text-align: left;
                img {
                    &:first-child {
                        transform: scaleX(-1);
                    }
                }
            }
        }
        &--4 {
            grid-column: 3 / 4;
            grid-row: 4 / 5;
            @include respond(large-mobile-screen) {
                grid-column: 1 / -1;
                text-align: right;
            }
        }
        &--image {
            grid-column: 2 / 3;
            grid-row: 1 / -1;

            @include respond(large-mobile-screen) {
                text-align: right;
            }
        }
    }
}

.faq {
    background-color: $color-secondary-light;
    margin-top: 5rem;
    padding: 0 3.7rem;
    &__title {
        text-align: center;
        padding-top: 4.1rem;
        padding-bottom: 3.3rem;
        font-size: 2rem;
    }
    &__content {
        margin: 0 auto;
        max-width: 76.2rem;
    }
}
